<footer>
    <div class="main-container">
        <div class="row-float">
            <span class="right links">
                <a target="_blank" href="{{ site.social.links[0].url }}"><i class="icon-linkedin"></i></a>
                <a target="_blank" href="{{ site.social.links[1].url }}"><i class="icon-github2"></i></a>
                <a target="_blank" href="{{ site.social.links[2].url }}"><i class="icon-gmail"></i></a>
                <!-- <a target="_blank" href="{{ site.social.links[4].url }}"><i class="icon-rss"></i></a>
                <a target="_blank" href="{{ site.social.links[3].url }}"><i class="icon-twitter"></i></a> -->
                <!-- <a target="_blank" href="{{ site.social.links[0].url }}"><i class="icon-instagram"></i></a> -->
            </span>
            <span class="left sub">Usman Bala Usman &copy; 2025</span>
        </div>
    </div>
</footer>
