header{
    height: 76px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    border-bottom: 1px solid #eaeaea;
    z-index: 100;

    .dropbtn{
        display: none;
    }

    @media screen and (max-width: 600px) {
        .dropbtn{
            display: inline;
        }
        .seenTopBar{
            display: none;
        }
    }


  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;
    position: relative;
}



    .name{
        font-weight: 600;
        font-size: 20px;
        margin: 23px 0;
    }
    .nav{
        list-style: none;
        margin: 16px 0;
        padding: 0;

        li{
            padding: 0;
            display: inline-block;
            a {
                line-height: 1.5;
                border-bottom: 2px solid transparent;
                color: $gray;
                font-weight: 500;
                letter-spacing: 0.3px;
                padding: 10px 0px 24px;
                margin-left: 32px;
                text-decoration: none;
                display: inline-block;

                &.active{
                    border-bottom: 2px solid black;
                    color: $black;
                    font-weight: 600;
                }
            }
        }
    }
}
