@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

$main-font : "Source Serif 4", serif;

/* 
* Screen sizes
*/

// Phone screens
$screen-sm:540px;
// Tablets
$screen-md:768px;
// Laptops
$screen-lg:960px;
// Large desktops and tablets
$screen-xl:1280px;

/*
* Colors
*/
$black: #333; // website text
$ash:#f9f9f9; // background
$gray:#8b939b; // subtitle
$lightgray:#dde2e7; // underline